In [68]:
import pandas as pd

# Load individual datasets
df_client_profiles = pd.read_csv('df_final_demo.txt', sep=',')  # Adjust the separator if different
df_experiment_roster = pd.read_csv('df_final_experiment_clients.txt', sep=',')
df_final_web_data_pt_1 = pd.read_csv('df_final_web_data_pt_1.txt', sep=',')
df_final_web_data_pt_2 = pd.read_csv('df_final_web_data_pt_2.txt', sep=',')

In [69]:
# Check the first few rows to ensure they loaded correctly
print(df_client_profiles.head())

   client_id  clnt_tenure_yr  clnt_tenure_mnth  clnt_age gendr  num_accts  \
0     836976             6.0              73.0      60.5     U        2.0
1    2304905             7.0              94.0      58.0     U        2.0
2    1439522             5.0              64.0      32.0     U        2.0
3    1562045            16.0             198.0      49.0     M        2.0
4    5126305            12.0             145.0      33.0     F        2.0

         bal  calls_6_mnth  logons_6_mnth
0   45105.30           6.0            9.0
1  110860.30           6.0            9.0
2   52467.79           6.0            9.0
3   67454.65           3.0            6.0
4  103671.75           0.0            3.0

In [70]:
print(df_experiment_roster.head())

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [71]:
print(df_final_web_data_pt_1.head())

   client_id            visitor_id                      visit_id process_step  \
0    9988021  580560515_7732621733  781255054_21935453173_531117       step_3
1    9988021  580560515_7732621733  781255054_21935453173_531117       step_2
2    9988021  580560515_7732621733  781255054_21935453173_531117       step_3
3    9988021  580560515_7732621733  781255054_21935453173_531117       step_2
4    9988021  580560515_7732621733  781255054_21935453173_531117       step_3

             date_time
0  2017-04-17 15:27:07
1  2017-04-17 15:26:51
2  2017-04-17 15:19:22
3  2017-04-17 15:19:13
4  2017-04-17 15:18:04

In [72]:
print(df_final_web_data_pt_2.head())

   client_id             visitor_id                      visit_id  \
0     763412  601952081_10457207388  397475557_40440946728_419634
1    6019349  442094451_91531546617  154620534_35331068705_522317
2    6019349  442094451_91531546617  154620534_35331068705_522317
3    6019349  442094451_91531546617  154620534_35331068705_522317
4    6019349  442094451_91531546617  154620534_35331068705_522317

  process_step            date_time
0      confirm  2017-06-06 08:56:00
1      confirm  2017-06-01 11:59:27
2       step_3  2017-06-01 11:58:48
3       step_2  2017-06-01 11:58:08
4       step_1  2017-06-01 11:57:58

In [73]:
# Merge the two parts of "df_digital_footprints"
df_digital_footprints = pd.concat([df_final_web_data_pt_1, df_final_web_data_pt_2], ignore_index=True)

In [74]:
# Check for inconsistencies in the new DataFrame
print(df_digital_footprints.head())
print(df_digital_footprints.info())

   client_id            visitor_id                      visit_id process_step  \
0    9988021  580560515_7732621733  781255054_21935453173_531117       step_3
1    9988021  580560515_7732621733  781255054_21935453173_531117       step_2
2    9988021  580560515_7732621733  781255054_21935453173_531117       step_3
3    9988021  580560515_7732621733  781255054_21935453173_531117       step_2
4    9988021  580560515_7732621733  781255054_21935453173_531117       step_3

             date_time
0  2017-04-17 15:27:07
1  2017-04-17 15:26:51
2  2017-04-17 15:19:22
3  2017-04-17 15:19:13
4  2017-04-17 15:18:04
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755405 entries, 0 to 755404
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     755405 non-null  int64
 1   visitor_id    755405 non-null  object
 2   visit_id      755405 non-null  object
 3   process_step  755405 non-null  object
 4   date_time     755405 non-null  object
dtypes: int64(1), object(4)
memory usage: 28.8+ MB
None

In [75]:
# Remove duplicates
df_client_profiles.drop_duplicates(inplace=True)
df_experiment_roster.drop_duplicates(inplace=True)
df_digital_footprints.drop_duplicates(inplace=True)

In [76]:
# Check for null values in df_client_profiles
print("Null values in df_client_profiles:")
print(df_client_profiles.isnull().sum())

Null values in df_client_profiles:
client_id            0
clnt_tenure_yr      14
clnt_tenure_mnth    14
clnt_age            15
gendr               14
num_accts           14
bal                 14
calls_6_mnth        14
logons_6_mnth       14
dtype: int64

In [77]:
# Check for null values in df_experiment_roster
print("\nNull values in df_experiment_roster:")
print(df_experiment_roster.isnull().sum())

Null values in df_experiment_roster:
client_id        0
Variation    20109
dtype: int64

In [78]:
# Check for null values in df_digital_footprints
print("\nNull values in df_digital_footprints:")
print(df_digital_footprints.isnull().sum())

Null values in df_digital_footprints:
client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [79]:
# Remove rows where 'Variation' has null values
df_experiment_roster_clean = df_experiment_roster.dropna(subset=['Variation'])

# Check the result to ensure nulls were removed
print(df_experiment_roster_clean.isnull().sum())

client_id    0
Variation    0
dtype: int64

In [80]:
# Filter rows with any null values
null_client_profiles = df_client_profiles[
    df_client_profiles.isnull().any(axis=1)
]
# Check the unique client_ids with null values
unique_null_client_ids = null_client_profiles['client_id'].unique()

# Output the unique client_ids and the number of unique clients
print("Unique client IDs with null values:")
print(unique_null_client_ids)

print("\nNumber of unique clients with null values:")
print(len(unique_null_client_ids))

Unique client IDs with null values:
[7402828  355337 8412164 4666211 2222915 4876926 5277910 7616759 8191345
 1227228 8611797 5144725 1037867 1618749 6021001]

Number of unique clients with null values:
15

In [81]:
# Filter the DataFrame to show only rows with the identified unique client IDs having nulls
filtered_null_clients_df = df_client_profiles[df_client_profiles['client_id'].isin(unique_null_client_ids)]

# Display the resulting DataFrame
print(filtered_null_clients_df)

       client_id  clnt_tenure_yr  clnt_tenure_mnth  clnt_age gendr  num_accts  \
4164     7402828             NaN               NaN       NaN   NaN        NaN
8316      355337             NaN               NaN       NaN   NaN        NaN
8677     8412164             NaN               NaN       NaN   NaN        NaN
9583     4666211             8.0             106.0       NaN     F        2.0
13444    2222915             NaN               NaN       NaN   NaN        NaN
18066    4876926             NaN               NaN       NaN   NaN        NaN
25961    5277910             NaN               NaN       NaN   NaN        NaN
28432    7616759             NaN               NaN       NaN   NaN        NaN
35323    8191345             NaN               NaN       NaN   NaN        NaN
43518    1227228             NaN               NaN       NaN   NaN        NaN
46076    8611797             NaN               NaN       NaN   NaN        NaN
47189    5144725             NaN               NaN       NaN   NaN        NaN
49846    1037867             NaN               NaN       NaN   NaN        NaN
63701    1618749             NaN               NaN       NaN   NaN        NaN
66219    6021001             NaN               NaN       NaN   NaN        NaN

            bal  calls_6_mnth  logons_6_mnth
4164        NaN           NaN            NaN
8316        NaN           NaN            NaN
8677        NaN           NaN            NaN
9583   42550.55           4.0            7.0
13444       NaN           NaN            NaN
18066       NaN           NaN            NaN
25961       NaN           NaN            NaN
28432       NaN           NaN            NaN
35323       NaN           NaN            NaN
43518       NaN           NaN            NaN
46076       NaN           NaN            NaN
47189       NaN           NaN            NaN
49846       NaN           NaN            NaN
63701       NaN           NaN            NaN
66219       NaN           NaN            NaN

In [82]:
# List of client IDs to remove
clients_to_remove = [7402828, 355337, 8412164, 2222915, 4876926, 5277910, 7616759,
                     8191345, 1227228, 8611797, 5144725, 1037867, 1618749, 6021001]

# Filter the DataFrame to keep rows not containing these client IDs
df_client_profiles_clean = df_client_profiles[~df_client_profiles['client_id'].isin(clients_to_remove)]

# Check the shape of the DataFrame to confirm removal
print(f"Original number of rows: {df_client_profiles.shape[0]}")
print(f"Number of rows after removal: {df_client_profiles_clean.shape[0]}")

Original number of rows: 70609
Number of rows after removal: 70595

In [83]:
# Merge df_client_profiles_clean with df_experiment_roster_clean on 'client_id'
merged_df_1 = pd.merge(df_client_profiles_clean, df_experiment_roster_clean, on='client_id', how='inner')

# Check the resulting DataFrame
print(f"Number of rows in the final merged DataFrame: {merged_df_1.shape[0]}")
print(merged_df_1.head())

Number of rows in the final merged DataFrame: 50488
   client_id  clnt_tenure_yr  clnt_tenure_mnth  clnt_age gendr  num_accts  \
0     836976             6.0              73.0      60.5     U        2.0
1    2304905             7.0              94.0      58.0     U        2.0
2    1439522             5.0              64.0      32.0     U        2.0
3    1562045            16.0             198.0      49.0     M        2.0
4    5126305            12.0             145.0      33.0     F        2.0

         bal  calls_6_mnth  logons_6_mnth Variation
0   45105.30           6.0            9.0      Test
1  110860.30           6.0            9.0   Control
2   52467.79           6.0            9.0      Test
3   67454.65           3.0            6.0      Test
4  103671.75           0.0            3.0   Control